<app-header></app-header>

<div class="container">
  <div class="row">

    <!-- Page wrapper  -->
    <div class="page-wrapper col-lg-12">

      <!-- Breadcrumb start -->
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h3 class="text-primary">Permission</h3>
        </div>
        <div class="col-md-7">
          <ol class="breadcrumb float-right">
            <li class="breadcrumb-item">
              <a href="javascript:void(0)">Home</a>
            </li>
            <li class="breadcrumb-item">Permission</li>
          </ol>
        </div>
      </div>
      <!-- Breadcrumb end -->
    </div>

    <div class="col">

      <div class="table-responsive table-hover">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Module</th>
              <th>Permission</th>
              <th>Admin</th>
              <th>Agent</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" rowspan="8">1</th>
              <td rowspan="8">Article</td>
              <td>Add Article Category</td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive">
                </div>
              </td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive">
                </div>
              </td>
            </tr>
            <tr>
              <td>Update Article Category</td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive">
                </div>
              </td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive">
                </div>
              </td>
            </tr>
            <tr>
              <td>Delete Article Category</td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
            </tr>
            <tr>
              <td>View Article Category</td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
            </tr>
            <tr>
              <td>Add Article</td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
            </tr>
            <tr>
              <td>Update Article</td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
            </tr>
            <tr>
              <td>Delete Article</td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
            </tr>
            <tr>
              <td>View Article</td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
            </tr>
            <tr>
              <th scope="row" rowspan="9">2</th>
              <td rowspan="9">FAQ</td>
              <td>Add FAQ Category</td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
            </tr>
            <tr>
              <td>Update FAQ Category</td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
            </tr>
            <tr>
              <td>Delete FAQ Category</td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
            </tr>
            <tr>
              <td>View FAQ Category</td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
            </tr>
            <tr>
              <td>Add FAQ</td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
            </tr>
            <tr>
              <td>Update FAQ</td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
            </tr>
            <tr>
              <td>Delete FAQ</td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
            </tr>
            <tr>
              <td>View FAQ </td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
            </tr>
            <tr>
              <td>FAQ Answer </td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" mdbInputDirective type="checkbox" id="isActive"> </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div style='clear:both'></div>
  </div>
</div>

<app-footer></app-footer>