<app-header></app-header>

<div class="container">
    <div class="row">

        <!-- Page wrapper  -->
        <div class="page-wrapper col-lg-12">

            <!-- Breadcrumb start -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Dashboard</h3>
                </div>
                <div class="col-md-7">
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0)">Home</a>
                        </li>
                        <li class="breadcrumb-item">Dashboard</li>
                    </ol>
                </div>
            </div>
            <!-- Breadcrumb end -->
        </div>

        <div class="col">Dashboard</div>
    </div>
</div>

<app-footer></app-footer>