<app-header></app-header>

<div class="container">
    <div class="row">

        <!-- Page wrapper  -->
        <div class="page-wrapper col-lg-12">

            <!-- Breadcrumb start -->
            <div class="row page-titles">
                <div class="col-md-12">
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0)">Home</a>
                        </li>
                        <li class="breadcrumb-item">404</li>
                    </ol>
                </div>
            </div>
            <!-- Breadcrumb end -->
        </div>

        <div class="col text-center">
            <h3 class="text-primary error-class"><strong>404</strong></h3>
            <h2> Page Not Found</h2>
        </div>
    </div>
</div>

<app-footer></app-footer>