<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark primary-bg card-panel">
  <logo>
    <a routerLink="/dashboard" class="navbar-brand" href="">
      <img src="/assets/images/fluent_logo.png" alt="Fluent Home" class="responsive-img valign">
    </a>
  </logo>
  <links>
    <ul class="navbar-nav">
      <li class="nav-item dropdown btn-group" dropdown>
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Article
          <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary card-panel" role="menu">
          <a class="dropdown-item waves-light" routerLink="/articlecategory/add" mdbWavesEffect>Add Article Category</a>
          <a class="dropdown-item waves-light" routerLink="/articlecategory/list" mdbWavesEffect>Article Category List</a>
          <a class="dropdown-item waves-light" routerLink="/article/add" mdbWavesEffect>Add Article</a>
          <a class="dropdown-item waves-light" routerLink="/article/list" mdbWavesEffect>Article List</a>
        </div>
      </li>
      <li class="nav-item dropdown btn-group" dropdown>
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          FAQs
          <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" routerLink="/faq/addfaqcategory" mdbWavesEffect>Add FAQ Category</a>
          <a class="dropdown-item waves-light" routerLink="/faq/faqcategorylist" mdbWavesEffect>FAQ Category List</a>
          <a class="dropdown-item waves-light" routerLink="/faq/addfaq" mdbWavesEffect>Add FAQ</a>
          <a class="dropdown-item waves-light" routerLink="/faq/faqlist" mdbWavesEffect>FAQ List</a>
          <a class="dropdown-item waves-light" routerLink="/faq/faqanswer" mdbWavesEffect>FAQ Answer</a>
        </div>
      </li>
      <li class="nav-item dropdown btn-group" dropdown>
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Role
          <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" routerLink="/role/add" mdbWavesEffect>Add Role</a>
          <a class="dropdown-item waves-light" routerLink="/role/list" mdbWavesEffect>Role List</a>
        </div>
      </li>
      <li class="nav-item dropdown btn-group" dropdown>
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          User
          <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Add User</a>
          <a class="dropdown-item waves-light" href="#" mdbWavesEffect>User List</a>
          <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Assign Role</a>
          <a class="dropdown-item waves-light" routerLink="/usertype/list" mdbWavesEffect>User Type</a>
        </div>
      </li>
      <li class="nav-item  btn-group" dropdown>
        <a routerLink="/permission" type="button" class="nav-link waves-light" mdbWavesEffect>
          Permission
        </a>
      </li>
    </ul>

    <div class="col-lg-6 col-xs-6 col-md-6">
      <div class="pull-right">
        <ul class="navbar-nav">
          <li class="nav-item dropdown btn-group" dropdown>
            <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              Welcome, 
              <!-- <strong>{{currentUser.email}}</strong> -->
              <span class="caret"></span>
            </a>
            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light" routerLink="/articlecategory/add" mdbWavesEffect>Profile</a>
              <a class="dropdown-item waves-light" (click)="logOut()" mdbWavesEffect>Log out</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </links>
</mdb-navbar>