<div class="col-md-6">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmitUserType()">
    <div class="form-group">
      <label for="userTypeName">User Type:</label>
      <input type="userTypeName" formControlName="userTypeName" placeholder="User Type" name="userTypeName" class="form-control" id="userTypeName">
    </div>

    <div class="form-group">
      <label for="isActive">Is Active:</label>
      <input formControlName="isActive" placeholder="Is Active" name="isActive" class="form-control" id="isActive">
    </div>

    <button class="btn btn-success">Add</button>
  </form>
</div>
