<app-header></app-header>

<app-article-category-list></app-article-category-list>
<!-- <app-article-category-form (articleClick)="editArticleCategory(articleCategory)"></app-article-category-form> -->
<app-article-category-form (articleClick)="editArticleCategory()"></app-article-category-form>

<app-footer></app-footer>