// regular style toast 
@import "~ngx-toastr/toastr.css";

@import "~@ng-select/ng-select/themes/material.theme.css";

/* You can add global styles to this file, and also import other style files */
$primary-background-color: #fff;
$primary-text-color: #555;
$secondary-background-color: #73A532;
$footer-backround-color: #404041;
$page-title-color: #73A532;
$placeholder-color: #757575;
$edit-icon-color: #cc6600;
$delete-icon-color: #555;

/// Mixin to prefix a property
/// @author Hugo Giraudel
/// @param {String} $property - Property name
/// @param {*} $value - Property value
/// @param {List} $prefixes (()) - List of prefixes to print
@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }
   
    // Output standard non-prefixed declaration
    #{$property}: $value;
  }

html, body {
    height: 100% !important;
}
  
.primary-bg {
    background: $primary-background-color !important;
}

.secondary-bg {
    background: $secondary-background-color !important;
}

.primary-text {
    color: $primary-text-color !important;
}

.primary-btn {
    background: $secondary-background-color !important;
}

span {
    &.inputVal {
        display:none;
    }
  }

a {
    &.link-btn {
        &:hover {
        color: #f2f2f2 !important;
        }
    }
}

input[type=file]{
    margin-left: 1em;
}

.custom-file-upload {
    border: 1px solid grey;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

ul {
    li {
        min-width: 100px !important;
        a {
            color: $primary-text-color !important;
        }
    }
}

.page-titles {
    border-bottom: 4px solid $secondary-background-color !important;
    margin-top: 1em !important;
}

.breadcrumb{
    background: none !important;
    color: $primary-text-color !important;
    @include prefix(border-radius, 0, webkit ms moz o);
    a, li.breadcrumb-item {
        color: $primary-text-color !important;
    }
}

.footer-bg {
    background: $footer-backround-color !important;
}

h3 {
    &.text-primary {
        color: $page-title-color !important;
        font-weight: 500;
    }
}

.article-category-form {
    margin-top: 2em !important;
}

.active {
    color: green;
}

.inactive {
    color: red;
}


.edit {
    color: $edit-icon-color !important;
}

.delete {
    color: $delete-icon-color !important;
}

.article-category-form {
    margin-bottom: 2em;
}

label {
    &.active {
        color: $placeholder-color !important;
    }
}

.article-form {
    .form-group {
        margin-top: 3em;
    }
}

.container {
    min-height: 95% !important;
}

.error-class {
    font-size: 10em;
    margin-top: 1em;
}

.dropdown {
    &.dropdown-menu{
        top: 14px !important;
        @include prefix(border-radius, 0 !important, webkit ms moz o);
    }
}

.dropdown-item {
    &:hover, &:focus {
        background: $secondary-background-color !important;
    }
}

.navbar {
    .dropdown-menu {
        padding: 0 !important;
        a {
            &:hover {
                color: white !important;
            }
        }
    }
}

/*
   server-side-angular-way.component.css
*/
.no-data-available {
    text-align: center;
  }
  
  /*
     src/styles.css (i.e. your global style)
  */
  .dataTables_empty {
    display: none;
  }

  .dataTables_wrapper {
      margin-top: 1.5em !important;

      .dataTables_filter{
        input {
            border: 1px solid $placeholder-color;
            padding: 4px 10px;
        }
      }

      .dataTables_paginate {
        .paginate_button {
            border: 1px solid #ccc !important;
            margin: 0.5em;

            &:hover {
                background: $secondary-background-color !important;
                color: white !important;
            }

            &.current {
                background: $secondary-background-color !important;
                color: white !important;

                &:hover {
                    background: $secondary-background-color !important;
                }
            }
        }
      }
  }