<!-- <app-header></app-header> -->

<div class="container">
  <div class="row">

      <!-- Page wrapper  -->
      <div class="page-wrapper col-lg-12">
          <br>
          <!-- Breadcrumb start -->
          <div class="row page-titles">
              <div class="col-md-5 align-self-center">
                  <h3 class="text-primary">Article Category List</h3>
              </div>
              <div class="col-md-7 align-self-center">
                  <ol class="breadcrumb float-right">
                      <li class="breadcrumb-item">
                          <a href="javascript:void(0)">Home</a>
                      </li>
                      <li class="breadcrumb-item">Article Category List</li>
                  </ol>
              </div>
          </div>
          <!-- Breadcrumb end -->
      </div>

      <div class="col" style="margin-top:1em">

          <a routerLink="/articlecategory/add" class="btn primary-btn pull-right link-btn" style="margin-bottom: 2em">
              <mdb-icon icon="plus" size="lg" style="margin-right:0.5em"></mdb-icon>
              Add Article Category
          </a>
          <div class="table-responsive table-hover table-bordered z-depth-4 card-panel">
              <table class="table">
                  <!--Table head-->
                  <thead class="mdb-color secondary-bg">
                      <tr class="text-white">
                          <th>S.N.</th>
                          <th>Article Category</th>
                          <th colspan="3">Action</th>
                      </tr>
                  </thead>
                  <!--Table head-->

                  <!--Table body-->
                  <tbody>
                      <tr *ngFor="let articleCategory of articleCategories">
                          <td>{{articleCategory.name}}</td>
                          <td>
                              <a (click)="artClick(articleCategory)">
                                  <mdb-icon icon="edit" size="lg" class="edit"></mdb-icon>
                              </a>
                          </td>
                          <td>
                              <a routerLink="articlecategory/delete">
                                  <mdb-icon icon="trash" size="lg" class="delete"></mdb-icon>
                              </a>
                          </td>

                          <span *ngIf="articleCategory.isActive == true; then isActiveBlock; else isInactiveBlock">
                          </span>
                          <ng-template #isActiveBlock>
                              <td>
                                  <a routerLink="articlecategory/delete">
                                      <mdb-icon icon="check" size="lg" class="active"></mdb-icon>
                                  </a>
                              </td>
                          </ng-template>
                          <ng-template #isInactiveBlock>
                              <td>
                                  <a routerLink="articlecategory/delete">
                                      <mdb-icon icon="close" size="lg" class="inactive"></mdb-icon>
                                  </a>
                              </td>
                          </ng-template>
                      </tr>

                  </tbody>
                  <!--Table body-->
              </table>
              <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->

          </div>

      </div>
  </div>
</div>

<!-- <app-footer></app-footer> -->