<app-header></app-header>

<div class="container">
    <div class="row">

        <!-- Page wrapper  -->
        <div class="page-wrapper col-lg-12">
            <br>
            <!-- Breadcrumb start -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Article List</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0)">Home</a>
                        </li>
                        <li class="breadcrumb-item">Article List</li>
                    </ol>
                </div>
            </div>
            <!-- Breadcrumb end -->
        </div>

        <div class="col">

            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Article Title</th>
                        <th>Category Name</th>
                        <th>Featured Image</th>
                        <th>Is Verified</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Is Active</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let article of articleList">
                        <td>{{ article.Id }}</td>
                        <td>{{ article.ArticleTitle }}</td>
                        <td>{{ article.ArticleCategoryName }}</td>
                        <td>{{ article.FeaturedImage }}</td>
                        <td>{{ article.IsVerified }}</td>
                        <td>
                            <a>
                                <mdb-icon icon="edit" size="lg" class="edit"></mdb-icon>
                            </a>
                        </td>
                        <td>
                            <a>
                                <mdb-icon icon="trash" size="lg" class="delete"></mdb-icon>
                            </a>
                        </td>
                        <!-- <td>{{ article.IsActive }}</td> -->
                        <span *ngIf="article.IsActive == true; then isActiveBlock; else isInactiveBlock">
                            </span>
                            <ng-template #isActiveBlock>
                                <td>
                                    <a routerLink="articlecategory/delete">
                                        <mdb-icon icon="check" size="lg" class="active"></mdb-icon>
                                    </a>
                                </td>
                            </ng-template>
                            <ng-template #isInactiveBlock>
                                <td>
                                    <a routerLink="articlecategory/delete">
                                        <mdb-icon icon="close" size="lg" class="inactive"></mdb-icon>
                                    </a>
                                </td>
                            </ng-template>
                    </tr>
                    <tr *ngIf="articleList?.length == 0">
                        <td colspan="8" class="no-data-available">No data!</td>
                    </tr>
                </tbody>
            </table>
            <!-- <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"></table> -->

        </div>
    </div>
</div>

<app-footer></app-footer>