<!-- Footer -->
<footer class="page-footer footer-copyright font-small dark pt-4 mt-4 footer-bg card-panel" style="padding:1em 0 4em 0 !important;">

  <!-- Copyright -->
  <div class="container">
    <div class="float-right py-3">Copyright &copy; {{year| date:'yyyy'}}
      <strong>{{companyInfo}}.</strong> All rights reserved.
    </div>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->