<div class="col-md-6">
  <h2> User Details</h2>
  <button class="btn btn-danger" routerLink="/add-user-type"> Add User</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>UserType</th>
        <th>IsActive</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let userType of userTypes">
        <td class="hidden"></td>
        <td>{{userType.userTypeName}}</td>
        <td>{{userType.IsActive}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteUserType(userType)"> Delete</button>
          <button class="btn btn-danger" (click)="editUserType(userType)" style="margin-left: 20px;"> Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>